__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*/migrations/*.pyc
*/migrations/__pycache__/
*.env
.env
.env.*
*.secret
*.key
db.sqlite3
/staticfiles/
media/
.idea/
.vscode/
*.iml
Thumbs.db
Desktop.ini
*.log
htmlcov/
.coverage
.tox/
.pytest_cache/
node_modules/