{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Приятелски албум{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<header class="navbar">
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'visitors_profile' %}">Visitors</a></li>

            {% if request.path != '/visitors/' %}
            <li><a href="{% url 'add_photo' %}">Add Photo</a></li>
            {% endif %}
            <li><a href="{% url 'login_profile' %}">Log In</a></li>
            <li><a href="{% url 'register_profile' %}">Register</a></li>
        </ul>
    </nav>
</header>

<main class="content">

    {% block content %}
    {% endblock %}

</main>

</body>
</html>